@import 'mixins';

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
}

.signupWrapper {
  background: white;
  color: rgb(15, 20, 25);
  min-height: 400px;
  max-height: 90vh;
  width: 650px;
  height: 600px;
  border-radius: 16px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  //max-width: 80vw;
  max-width: 600px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;

    margin-left: 32px;
    margin-right: 32px;

    border-radius: 16px;
    overflow: hidden;

    & > header {
      width: 100%;
      @include centerForce;
      min-width: 32px;
      padding-top: 16px;
      user-select: none;

      svg {
        font-size: 37.27px;
        color: rgba(29, 161, 242, 1);
      }
    }

    & > main {
      width: 100%;
      & > .top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        h3 {
          line-height: 28px;
          font-size: 23px;
          font-weight: 700;
        }

        strong {
          margin-top: 32px;
          font-weight: 700;
          font-size: 15px;
        }

        p {
          color: rgb(83, 100, 113);
          line-height: 20px;
          white-space: pre-wrap;
        }

        .selectArea {
          width: 100%;
          margin-block: 16px;
          display: flex;
        }

        & > .buttonArea {
          width: 100%;
          display: flex;
          padding: 12px 32px 36px 32px;

          button {
            max-width: 536px;
          }
        }
      }
    }
  }
}
