.button {
  color: white;
  cursor: pointer;
  border-radius: 9999px;
  font: 15px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 380px;
  min-height: 48px;
}

.primary {
  background-color: rgb(29, 161, 242);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgb(26, 145, 218);
  }
}

.secondary {
  background-color: white;
  border: 1px solid hsl(203deg, 89%, 53%);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;

  color: hsl(203deg, 89%, 53%);

  transition: all 0.3s ease-in-out;

  &:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgba(29, 161, 242, 0.1);
  }
}

.sm {
  font-size: 2rem;
}

.md {
  min-width: 38px;
  min-height: 38px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
}

.lg {
  font-weight: bold;
  min-width: 48px;
  min-height: 48px;
  padding-left: 32px;
  padding-right: 32px;
  width: 90%;
}
