@import 'mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  color: rgb(15, 20, 25);

  & > main {
    display: flex;
    flex: 1;
    transition: all 0.3s ease-in-out;

    .imgArea {
      min-height: 45vh;
      background-color: rgb(116, 202, 254);
      flex: 1;
      background-image: url('../../assets/images/bg_enter_page_imgArea.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transition: all 0.3s ease-in-out;

      @include centerForce;

      svg {
        @include centerForce;
        max-height: 380px;
        height: 50%;
        padding: 32px;
        color: rgb(255, 255, 255);
        fill: rgb(255, 255, 255);
        max-width: 100%;
      }
    }

    .actionArea {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      min-width: 45vw;
      padding: 16px;

      color: rgb(15, 20, 25);
      font-weight: 700;
      font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

      & > .header {
        span {
          svg {
            font-size: 42.57px;
            color: rgba(29, 161, 242, 1);
          }
        }
      }

      & > .hero {
        margin-block: 48px;
        h2 {
          overflow-wrap: break-word;
          letter-spacing: -1.2px;
          line-height: 84px;
          font-size: 64px;
        }
      }

      & > .main {
        margin-bottom: 32px;
        line-height: 36px;
        font-size: 31px;
      }

      & > .footer {
        width: 100%;

        .buttons {
          display: flex;
          flex-direction: column;

          & > * {
            margin-bottom: 20px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }

  & > nav {
    @include centerForce;
    flex-wrap: wrap;
    padding: 12px 16px;

    span {
      padding-right: 16px;
      margin: 4px 0;
      line-height: 16px;

      color: rgb(83, 100, 113);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      overflow-wrap: break-word;

      font-size: 13px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include respond-to('lg') {
  .wrapper {
    & > main {
      flex-direction: column;

      .imgArea {
        order: 2;
      }

      .actionArea {
        max-width: 600px;
        margin-inline: auto;

        & > .footer {
          .buttons {
            flex-direction: row;

            & > *:first-child {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

@include respond-to('sm') {
  .wrapper {
    & > main {
      flex-direction: column;

      .imgArea {
        order: 2;
      }

      .actionArea {
        max-width: 600px;
        margin-inline: auto;

        & > .footer {
          .buttons {
            flex-direction: column;
          }
        }
      }
    }
  }
}
