@mixin centerForce() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonSpecial(
  $color: rgba(29, 161, 242, 1),
  $hover: rgba(29, 161, 242, 1),
  $font-size: 22px,
  $size: 40px
) {
  @include centerForce;
  width: $size;
  height: $size;
  margin-left: 16px;
  border-radius: 50%;
  cursor: pointer;

  svg {
    color: $color;
    padding: 5px;
    box-sizing: content-box;
    font-size: $font-size;
  }

  &:hover {
    background-color: rgba(29, 161, 242, 0.1);
    svg {
      color: $hover;
    }
  }
}
