@import '../../styles/mixins';

.wrapper {
  width: 350px;
  margin-right: 10px;

  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    width: inherit;

    height: 100vh;
  }
}

@include respond-to('xl') {
  .wrapper {
    display: none;
  }
}
