.nav {
  margin-top: 1rem;

  .brand {
    width: 48px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(29, 161, 242, 0.1);
    }

    svg {
      box-sizing: content-box;
      padding: 12px;
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      transform: scale(1.2);
    }
  }

  .btnContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
