.wrapper {
  width: 100%;
  height: 54px;
  align-items: center;
  background-color: #15202b;

  border-bottom: 1px solid #38444d;
  border-left: 1px solid rgb(56, 68, 77);
  border-right: 1px solid rgb(56, 68, 77);

  display: flex;
  top: 0;
  justify-content: space-between;
  padding-inline: 16px;
  position: sticky;

  z-index: 5;

  h1 {
    font-size: 20px;
    font-weight: bold;
  }

  .icons {
    align-items: center;
    display: flex;
    justify-content: center;

    svg {
      border-radius: 9999px;
      box-sizing: content-box;
      color: rgba(29, 161, 242, 1);
      cursor: pointer;
      font-size: 1.8rem;
      padding: 8px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgba(29, 161, 242, 0.1);
      }
    }
  }
}
