@import 'mixins';

.header {
  padding-inline: 12px;
  height: 100vh;
  flex-shrink: 2;

  max-width: 251px;
  width: 100%;
  position: relative;

  .container {
    position: fixed;
    max-width: 251px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}

@include respond-to('lg') {
  .header {
    max-width: 60px;
    margin-right: 2rem;
  }
}
