.wrapper {
  display: flex;

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 990px;
  }
}

@include respond-to('xl') {
  .wrapper {
    .main {
      width: auto;
      flex: 1;
    }
  }
}
